h2 {
  margin: 14px auto;
  text-align: center;
}
.current-weather-icon {
  color: #644e90;
  font-size: 58px;
  margin: 10px;
}
.weather-details {
  font-size: smaller;
  text-align: center;
}
.units {
  font-size: small;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
